<div class="container-fluid">
    <div class="row">
    
        <div class="col-12 d-flex justify-content-center">
            <h1>Welcome to</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <h4>Change delivery status page</h4>
        </div>

        <div style="padding: 3rem 0;"></div>

        <div class="col-12 d-flex justify-content-center">
            <h2>Navigate to</h2>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button [routerLink]="['/deliveries']" style="margin: 0 .75rem;">Delivery page</button>
            <button (click)="openConfirmation()" style="margin: 0 .75rem;">Confirm status</button>
        </div>

    </div>
</div>
<div class="custom-dialog" *ngIf="confirmation_dialog">
    <app-confirmation-dialog (close)="closeConfirmation($event)"></app-confirmation-dialog>
</div>