<div class="container-fluid">
    <div class="row">
    
        <div class="col-12 d-flex justify-content-center">
            <h1>Welcome to</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <h4>Order page</h4>
        </div>

        <div style="padding: 3rem 0;"></div>

        <div class="col-12 d-flex justify-content-center">
            <h2>Navigate to</h2>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button [routerLink]="['/orders']" style="margin: 0 .75rem;">Orders page</button>
            <button [routerLink]="['/deliveries/single']"[queryParams]="{order_id: orderId}" style="margin: 0 .75rem;">Delivery page</button>
            <button [routerLink]="['/menu']" style="margin: 0 .75rem;">Menu page</button>
        </div>

    </div>
</div>