<div class="container-fluid">
    <div class="row">    
        <div class="col-12">
            <div class="row d-flex justify-content-center">
                <div class="col-8 d-flex flex-column align-items-center">

                    <div class="add-comment-text">Add a comment</div>
                    <textarea name="" id="" class="add-comment" [(ngModel)]="order.comment"></textarea>

                    <div class="row no-gutters" style="width: 100%;">
                        <div class="col-12 dish-item d-flex flex-row" *ngFor="let dish of dishes; let i = index">

                            <div class="image">
                                image
                            </div>
                            <div class="content">
                                <div class="content-name">{{ dish.name }}</div>
                                <div class="content-price">${{ dish.price }}</div>
                            </div>
                            <div class="flex-grow-1"></div>
                            <div class="content-description">{{ dish.description }}</div>
                            <div class="flex-grow-1"></div>
                            <div class="add-to-order">
                                <input type="number" placeholder="QTY" #quantity><button class="btn btn-success" (click)="addDish(i, quantity.value)">Add</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>