.media{
    margin-top: 10px;
    width: 70rem;
    background-color: #DCDCDC;
    box-shadow: 0px 0px 0.3px 0.3px rgba($color: #000000a6, $alpha: .80);
    opacity: .95;
    padding: 0 10px;
    .btn{
        padding-left: 1rem;
        margin-left: 0.5rem;
    }
    img{
        margin-right: 2rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}
.container-flui{
    .btn{
        margin-top: 1rem;
    }
    .price{
        margin-top: 20px;
        color: green;
    }
    .view{
        margin-bottom: 0.8rem;
        margin-left: 0.8rem;
    }
}