<div class="container-fluid">
    <div class="row">    
        <div class="col-12">
            <div class="row d-flex justify-content-center">
                <div class="col-8 d-flex flex-column align-items-center">

                    <div class="add-comment-text" style="margin-top: 3.5rem">Add a order comment</div>
                    <textarea name="" id="" class="add-comment shadow" [(ngModel)]="order.comment"></textarea>


                    <div class="form-group" style="margin-top: 1.5rem;">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Pick delivery type:</label>
                            </div>
                            <select class="custom-select" [(ngModel)]="order.delivery.deliveryType" aria-placeholder="Choose..." required="required" >
                                <option [value]="'take-away'" >{{ "take-away" }}</option>
                                <option [value]="'delivery'" >{{ "delivery" }}</option>
                            </select>
                            
                        </div>   	
                    </div>

                    <!-- delivery section -->
                    <div class="d-flex flex-column align-items-center" style="width: 100%;" *ngIf="order.delivery.deliveryType == 'delivery'">

                        <div class="d-flex justify-content-start delivery-inputs">
                            <div class="text-header">Address</div>
                            <input type="text" [(ngModel)]="order.delivery.location">
                        </div>
                        <div class="d-flex justify-content-start delivery-inputs">
                            <div class="text-header">Specify delivery time</div>
                            <input type="date" [(ngModel)]="deliveryDate">
                            <input type="time" [(ngModel)]="deliveryTime">
                        </div>
                        <div class="add-comment-text" style="margin-top: 3.5rem">Add a comment to delivery</div>
                        <textarea name="" id="" class="add-comment shadow" [(ngModel)]="order.delivery.comment"></textarea>
                        
                    </div>

                    <!-- overview -->
                    <div class="row no-gutters" style="width: 100%; margin-top: 1.5rem;">
                        <div class="col-12 text-center dish-header">
                            Current dishes selected(${{ getTotal() | number: '0.2-2' }})
                        </div>
                    </div>

                    <div class="row no-gutters" style="width: 100%;">
                        <div class="col-12 dish-item d-flex flex-row" *ngFor="let dish of order.dishes; let i = index">

                            <div class="image">
                                <img src="https://moms-spaghetti.herokuapp.com/api/v1/dishes/{{ dish.id }}/image" alt="">
                            </div>
                            <div class="content">
                                <div class="content-name">{{ dish.name }}</div>
                                <div class="content-price">${{ dish.price }}</div>
                            </div>
                            <div class="flex-grow-1"></div>
                            <div class="content-description">{{ dish.description }}</div>
                            <div class="flex-grow-1"></div>
                            <div class="add-to-order">
                                <div><b>QTY:</b> {{ order.orderDishes[i].quantity }}</div>
                                <button class="btn btn-danger d-flex justify-content-center align-items-center" style="font-size: 1.25rem; font-weight: 700;" (click)="removeDish(i)">-</button>
                            </div>

                        </div>
                    </div>

                    <div class="row no-gutters" style="width: 100%; margin-top: 1.5rem;" *ngIf="order.orderDishes && order.orderDishes.length > 0">
                        <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-success" style="margin-right: .75rem;" (click)="orderCreate('pick-up')">Create order</button>
                            <button class="btn btn-dark" (click)="orderCreate('reservation')">Reservation</button>
                        </div>
                    </div>

                    <!-- select -->
                    <div class="row no-gutters" style="width: 100%; margin-top: 2.5rem;">
                        <div class="col-12 text-center dish-header">
                            Add orders to dish
                        </div>
                    </div>

                    <div class="row no-gutters" style="width: 100%;">
                        <div class="col-12 dish-item d-flex flex-row align-items-center" *ngFor="let dish of dishes; let i = index">

                            <div class="image">
                                <img src="https://moms-spaghetti.herokuapp.com/api/v1/dishes/{{ dish.id }}/image" alt="">
                            </div>
                            <div class="content">
                                <div class="content-name">{{ dish.name }}</div>
                                <div class="content-price">${{ dish.price }}</div>
                            </div>
                            <div class="flex-grow-1"></div>
                            <div class="content-description">{{ dish.description }}</div>
                            <div class="flex-grow-1"></div>
                            <div class="add-to-order">
                                <input type="number" placeholder="QTY" #quantity value="1" min="1" max="99" (change)="noLower($event)"><button class="btn btn-success" (click)="addDish(i, quantity.value); quantity.value = 1">Add</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>