<div class="container-fluid">
    <div class="row no-gutters d-flex justify-content-center">
        <div class="col-8 form-input shadow">
            
            <div class="section-label mt-4 d-flex justify-content-center">
                Delivery Information
            </div>
            <div class="separator ">
                <hr> 
            </div>
            
            <div class="form-group" style="margin-top: .75rem;" *ngIf="delivery.deliveryType == 'delivery'">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Change status:</label>
                    </div>
                    <select class="custom-select" aria-placeholder="Choose..." required="required" [value]="delivery.deliveryStatus" (change)="statusChange($event.srcElement.value)">
                        <option *ngFor="let item of options" [value]='item' >{{ item | titlecase }}</option>
                    </select>
                </div>   	
            </div>
            <div class="delivery-text">
                <div class="text-header">Delivery Type</div>
                {{ delivery.deliveryType }}
            </div>
            <div class="delivery-text">
                <div class="text-header">Comment</div>
                {{ delivery.comment }}
            </div>
            <div class="delivery-text">
                <div class="text-header">Location</div>
                {{ delivery.location }}
            </div>
            <div class="delivery-text">
                <div class="text-header">Requested delivery time</div>
                {{ delivery.requestedDeliveryTime | date: 'yyyy/MM/dd HH:mm' }}
            </div>
            <div class="delivery-text">
                <div class="text-header">Delivery completion time</div>
                {{ delivery.deliveryCompleteTime | date: 'yyyy/MM/dd HH:mm' }}
            </div>
        </div>
    </div>
</div>