<div class="container-fluid">
    <div class="row no-gutters d-flex justify-content-center">

        <div class="col-4 form-input shadow">

            <!-- account information -->
            <div class="section-label">
                Account information
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="E-mail" [(ngModel)]="employee.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" [(ngModel)]="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm password" [(ngModel)]="confirm_password">
            </div>

            <div class="separator">
               <hr> 
            </div>

            <!-- basic information -->

            <div class="section-label">
                Employee information
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" [(ngModel)]="employee.name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Surname" [(ngModel)]="employee.surname">
            </div>

            <div class="separator">
                <hr> 
            </div>

            <div class="subsection-label">
                Date of birth
            </div>

            <div class="form-group">
                <div class="col-xs-8"></div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Year</label>
                    </div>
                    <select class="custom-select" [(ngModel)]="year_selected" required="required">
                        <option *ngFor="let y of year; let i = index" value="{{ i }}">{{ y }} </option>
                    </select>
                </div> 
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Month</label>
                    </div>
                    <select class="custom-select" [(ngModel)]="month_selected" required="required"  >
                        <option *ngFor="let m of month; let i = index" value="{{ i }}">{{ m }} </option>
                    </select>
                </div>      
                <div *ngFor="let m of month; let i = index">
                    <div class="input-group mb-3" *ngIf="i == month_selected">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Day</label>
                        </div>
                        <select class="custom-select" [(ngModel)]="day_selected" required="required">
                            <option *ngFor="let d of day[i]; let j = index" value="{{ j }}">{{ d }} </option>
                        </select>
                    </div>    
                </div>
                    
            </div>

            <div class="separator">
                <hr> 
            </div>



            <!-- contact information -->

            <div class="section-label">
                Contact information
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" placeholder="Phone number" [(ngModel)]="employee.phoneNumber">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Address" [(ngModel)]="employee.address">
            </div>
            

            <div class="separator">
                <hr> 
            </div>

            <!-- pay information -->

            <div class="section-label">
                Payment information
            </div>
            <div class="form-group d-flex">
                <input type="number" class="form-control" placeholder="Salary" style="width: 45%;" [(ngModel)]="employee.salary">
                <div class="flex-grow-1"></div>
                <input type="number" class="form-control" placeholder="Workload" style="width: 45%;" [(ngModel)]="employee.workload">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Bank account" [(ngModel)]="employee.bankAccount">
            </div>

            <div class="form-group d-flex justify-content-center">
                <div class="col-xs-8 col-xs-offset-4">
                    <button class="btn" (click)="create()">Create</button>
                </div>  
            </div>		
            
        </div>



    </div>
</div>