<div class="container-fluid">
    <div class="row row-body d-flex justify-content-center">
        
        <!-- adder -->
        <div class="col-8"> 
            <button class="btn btn-success" (click)="createEmployee()">Create</button>
        </div>
        <!-- header -->
        <div class="col-8" style="margin-top: 1.5rem;">
            <div class="row no-gutters">

                <div class="col-4" style="padding-left: .75rem;">
                    Name
                </div>
                <div class="col-4">
                    Surname
                </div>
                <div class="col-4">
                    Email
                </div>

            </div>
        </div>

        <!-- body -->
        <div class="col-8 table-item shadow cursor-pointer" *ngFor="let employee of employees; let i = index" (click)="checkEmployee(i)">
            <div class="row no-gutters">
                <div class="col-4">{{ employee.name | titlecase }}</div>
                <div class="col-4">{{ employee.surname | titlecase }}</div>
                <div class="col-4">{{ employee.email }}</div>
            </div>
        </div>

    </div>
</div>