<div class="container-fluid">
    <div class="row row-body d-flex justify-content-center">
        
        <!-- adder -->
        <div class="col-8" *ngIf="auth.customer" > 
            <button class="btn btn-success" (click)="createReservation()">Create</button>
        </div>
        <!-- header -->
        <div class="col-8">
            <div class="row no-gutters">

                <div class="col-1">
                    
                </div>
                <div class="col-3" style="padding-left: .75rem;">
                    Start time
                </div>
                <div class="col-3">
                    End time
                </div>
                <div class="col-3">
                    Comment
                </div>
                <div class="col-1 d-flex justify-content-end">
                    People
                </div>
                <div class="col-1"></div>

            </div>
        </div>

        <!-- body -->
        <div class="col-8 table-item shadow cursor-pointer" *ngFor="let reserve of reservations; let i = index" (click)="goToReservation(i, $event.target.id)">
            <div class="row no-gutters">
                <div class="col-1 d-flex align-items-center">
                    <i class="fas fa-birthday-cake" *ngIf="reserve.specialOccasion"></i>
                </div>
                <div class="col-3 d-flex align-items-center">
                    {{ reserve.startTime | date: 'yyyy/MM/dd HH:mm' }}
                </div>
                <div class="col-3 d-flex align-items-center">
                    {{ reserve.endTime | date: 'yyyy/MM/dd HH:mm' }}
                </div>
                <div class="col-3 d-flex align-items-center text-overflowed-ellipsis">
                    {{ reserve.comment }}
                </div>
                <div class="col-1 d-flex justify-content-end align-items-center">
                    {{ reserve.numberOfPeople | number: '0.0-0' }}
                </div>
                <div class="col-1 d-flex justify-content-end align-items-center">
                    <button class="btn btn-danger" id="action" (click)="removeReservation(i)">X</button>
                </div>

            </div>
        </div>

    </div>
</div>