<div class="container-fluid">
    <div class="row">
    
        <div class="col-12 d-flex justify-content-center">
            <h1>Welcome to</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <h4>Reservations page</h4>
        </div>

        <div style="padding: 3rem 0;"></div>

        <div class="col-12 d-flex justify-content-center">
            <h2>Navigate to</h2>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button [routerLink]="['/']" routerLinkActive="router-link-active"  style="margin: 0 .75rem;">Main page/Home</button>
            <button [routerLink]="['/reservations/single']" routerLinkActive="router-link-active"  style="margin: 0 .75rem;">Reservation page</button>
            <button [routerLink]="['/reservations/form']" routerLinkActive="router-link-active"  style="margin: 0 .75rem;">Make reservation</button>
        </div>

    </div>
</div>