
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-8 d-flex flex-column align-items-center">
            <div class="row no-gutters" style="width: 100%;">
                <div class="col-12 d-flex flex-column align-items-center">

                    <div class="delivery-status">
                        Status: {{delivery.deliveryStatus}}
                    </div>
                    <div class="delivery-createdAt">
                        Created at: {{delivery.createdAt | date: 'short'}} 
                    </div>
                    <div class="delivery-comment shadow">
                        {{delivery.comment}} comment
                    </div>
                    <div class="delivery-comment shadow">
                        {{delivery.location}} location
                    </div>

                    <!-- delivery -->
                    <table class="table" style="margin-top: 1.5rem;">
                        <thead>
                          <tr>
                            <th scope="col">Delivery Type</th>
                            <th scope="col">Requested Delivery Time</th>
                            <th scope="col">Delivery Complete Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ delivery.deliveryType }}</td>
                            <td>{{delivery.requestedDeliveryTime | date: 'yyyy/MM/dd HH:mm'}}</td>
                            <td>
                              <span *ngIf="delivery.deliveryCompleteTime">{{delivery.deliveryCompleteTime | date: 'yyyy/MM/dd HH:mm'}}</span>
                              <span *ngIf="!delivery.deliveryCompleteTime"><b>-</b></span>
                              
                            </td>
                          </tr>
                         
                        </tbody>
                      </table>


                    <div>
                      <button *ngIf="delivery.deliveryStatus == 'delivered'" class="btn btn-warning" (click)="goToReview()">Leave review</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>