
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-8 d-flex flex-column align-items-center">
            <div class="row no-gutters" style="width: 100%;">
                <div class="col-12 d-flex flex-column align-items-center">

                    <div class="order-number">
                    </div>
                    <div class="order-total">
                    </div>
                    <div class="order-comment shadow">
                    </div>

                    <!-- dishes -->
                   

                    

                </div>
            </div>
        </div>
    </div>
</div>