.container-fluid{
    font-family: 'Roboto', sans-serif;
    background-image: url("/assets/images/RestoBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    //vh = window height, use with caution, makes shit break on tablets
    height: 100vh;
    //center content horizontal and vertical center
    display: flex;
    justify-content: center;
    align-items: center;
}
 .centered{
    color: white;
}
.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
  }
.navbar-nav, .nav-item.active {
    color: white;
    a {
        color: #fff;
        &:hover {
            color: #aaa;
        }
        &:active {
            color: black;
        }
    }
}
.navbar-nav, .nav-item.active {
    color: white;
    .nav-link-logout {
        color: #fff;
        &:hover {
            color: red;
        }
        &:active {
            color: black;
        }
    }
}