<div class="container-fluid">
    <div class="row">
    
        <div class="col-12 d-flex justify-content-center">
            <h1>Welcome to</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <h4>Main page/Home</h4>
        </div>

        <div style="padding: 3rem 0;"></div>

        <div class="col-12 d-flex justify-content-center">
            <h2>Navigate to</h2>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button [routerLink]="['/login']" style="margin: 0 .75rem;">Login page</button>
            <button [routerLink]="['/orders']" style="margin: 0 .75rem;">Orders page</button>
            <button [routerLink]="['/reservations']" style="margin: 0 .75rem;">Reservations page</button>
            <button [routerLink]="['/deliveries']" style="margin: 0 .75rem;">Deliveries page</button>
            <button [routerLink]="['/employees']" style="margin: 0 .75rem;">Employees page</button>
            <button [routerLink]="['/reviews']" style="margin: 0 .75rem;">Reviews page</button>
            <button [routerLink]="['/profit']" style="margin: 0 .75rem;">profit page</button>
            <button [routerLink]="['/dish']" style="margin: 0 .75rem;">dish page</button>
        </div>

    </div>
</div>
