<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">
                <img src="../assets/images/logo-1.png" alt="Logo" style="width:50px;">
            </a>
            <div class="collapse navbar-collapse justify-content-center">
              <ul class="navbar-nav mx-auto order-0">
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/orders']">Orders<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link"[routerLink]="['/reservations']">Reservations<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/deliveries']">Deliveries<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/employees']">Employees<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/reviews']">Reviews<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/profit']">profit<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link"  [routerLink]="['/dish']">dishs<span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link-logout" [routerLink]="['/login']">Logout <span class="sr-only">(current)</span></a>
                  </li>
            </ul>
            </div>
          </nav>
          <div class="centered">Welcome To Mom's Spaghetti Restaurant</div>
    </div>
</div>
