<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100%;">
    <div class="review-box shadow">

        <div class="star-belt">

            <!-- filled -->
            <i class="fas fa-star" (click)="changeRating(1)" *ngIf="review.rating >= 1"></i>
            <i class="fas fa-star" (click)="changeRating(2)" *ngIf="review.rating >= 2"></i>
            <i class="fas fa-star" (click)="changeRating(3)" *ngIf="review.rating >= 3"></i>
            <i class="fas fa-star" (click)="changeRating(4)" *ngIf="review.rating >= 4"></i>
            <i class="fas fa-star" (click)="changeRating(5)" *ngIf="review.rating == 5"></i>

            <!-- empty -->
            <i class="far fa-star" (click)="changeRating(review.rating+1)" *ngIf="5 > review.rating"></i>
            <i class="far fa-star" (click)="changeRating(review.rating+2)" *ngIf="4 > review.rating"></i>
            <i class="far fa-star" (click)="changeRating(review.rating+3)" *ngIf="3 > review.rating"></i>
            <i class="far fa-star" (click)="changeRating(review.rating+4)" *ngIf="2 > review.rating"></i>
        </div>
        <div class="header-text">Comment</div>
        <textarea name="" id="" [(ngModel)]="review.comment" placeholder="comment"></textarea>

        <button class="btn btn-success" style="margin-top: .75rem; margin-bottom: 2rem;" (click)="createReview()">Leave review</button>

    </div>
</div>