<div class="container-fluid">
    <div class="row">    
        <div class="col-12">
            <div class="row d-flex justify-content-center">
                <div class="col-8 d-flex flex-column align-items-center">

                    <div class="add-comment-text" style="margin-top: 3.5rem">
                        Comment
                    </div>
                    <div class="add-comment shadow">{{ reservation.comment }}</div>

                    <div class="number-of-people">
                        <b>Number of people:</b> {{ reservation.numberOfPeople | number: '0.0-0' }}
                    </div>
                    <div class="reservation-information">
                        <div class="special-occasion" [ngClass]="{'occasion-active': reservation.specialOccasion }">
                            <i class="fas fa-birthday-cake"></i>
                        </div>
                        <div class="time-container"> 
                            <div class="time-body">
                                <!-- start-end date -->
                                <div class="time-header">Date</div>
                                {{ reservation.startTime | date: 'yyyy/MM/dd' }} 
                                <span *ngIf="displayEndDate">- {{ reservation.endTime | date: 'yyyy/MM/dd' }}</span>
                            </div>
                            <div class="time-body">
                                <!-- start-end time -->
                                <div class="time-header">Time</div>
                                {{ reservation.startTime | date: 'HH:mm' }} - 
                                {{ reservation.endTime | date: 'HH:mm' }}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>