$green_good: #83e377;
$error: #ee5d48;
$hold: #FFD046;
$preparing: #98D2EB;

$dark: #343434;
$lighter_black: #444444;

$inactive: #6B6B6B;
$lighter_inactive: #7B7B7B;
$lightest_inactive: #8B8B8B;

$light_gray: #9f9f9f;
$lighter_gray: #AFAFAF;
$lightest_gray: #BFBFBF;

$gainsboro: #D7DAE5;
$cultured: #EFF1F3;
$shaded_white: #F3F5F7;
$darker_white: #FCFCFC;