.custom-input {

    outline: none;

    border: 2px solid rgba($color: $lightest_gray, $alpha: .3);
    border-radius: 4px;

    width: 100%;

    padding: .4rem 1rem;
    
    font-size: 1.1rem;
    font-weight: 500;
    color: $lighter_black;

    transition-duration: .4s;

    &::placeholder {
        color: rgba($color: $inactive, $alpha: .5);
        font-size: .9rem;
        font-weight: 700;    
    }
    &:hover {
        border: 2px solid $inactive;
    }
    &:focus {
        border: 2px solid $dark;
    }
    &:disabled {
        border: 2px solid rgba($color: $lightest_gray, $alpha: .3);
        cursor: default;
    }

}
.custom-input-disabled {
    border: 2px solid rgba($color: $lightest_gray, $alpha: .3) !important;
}
.custom-button {
    outline: none;
    background-color: $bordo;
    color: white;
    border-radius: 4px;
    border: 2px solid $bordo;

    padding: .25rem .75rem;

    &:hover {

        background-color: white;
        color: $bordo;

    }
    &:active {
        background-color: white;
        color: $lighter_black;
        border: 2px solid $lighter_black;
    }
}
.custom-dialog {
    position: fixed;
    top: 0;
    left: 0;

    // padding-left: 12rem;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
    overflow: hidden;

    height: 100vh;
    width: 100%;

    // background-color: rgba($color: $dark, $alpha: .2);
}

.custom-dialog-card {
    background-color: white;
    
    min-width: 24rem;
    width: 80vw;
    max-width: 28rem;
    min-height: 4rem;

    max-height: 80vh;

    border-radius: 8px;

    overflow: hidden;
    
    .card-image {
        background-image: url('src/assets/images/dialog-logos/dialog-client.jpg');
        background-position: center 35%;
        background-repeat: no-repeat;
        background-size: 100% auto;

        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        width: 100%;
        min-height: 8rem;

        transition-duration: .4s;

        &:hover {
            background-size: 105% auto;
        }
        
    }
    .card-inner {
        padding: 1.5rem 1.5rem;
        padding-bottom: 3.5rem;

        border: 2px solid rgba($color: $border, $alpha: .4);

        overflow: hidden auto;
        max-height: calc(80vh - 8rem - 8rem);
    }
    .card-action {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 2rem 1.25rem;

        min-height: 4rem;

        background-color: rgba($color: $border, $alpha: .7);
    }
    
    
}