<!-- <div class="container-fluid">
    <div class="row">
    
        <div class="col-12 d-flex justify-content-center">
            <h1>Welcome to</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <h4>Orders page</h4>
        </div>

        <div style="padding: 3rem 0;"></div>

        <div class="col-12 d-flex justify-content-center">
            <h2>Navigate to</h2>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button [routerLink]="['/']" style="margin: 0 .75rem;">Main page/Home</button>
            <button [routerLink]="['/orders/single']" style="margin: 0 .75rem;">Order page</button>

            <button (click)="openCancellation()" style="margin: 0 .75rem;">Cancellation dialog</button>
            <button (click)="openConfirmation()" style="margin: 0 .75rem;">Confirmation dialog</button>
        </div>

    </div>
</div> -->


<div class="container-fluid">
    <div class="row row-body d-flex justify-content-center">
        
        <!-- adder -->
        <div class="col-8" style="margin: .75rem 0;" *ngIf="auth.customer"> 
            <button class="btn btn-success" (click)="createOrder()">Create</button>
        </div>
        <!-- header -->
        <div class="col-8">
            <div class="row">

                <div class="col-1"></div>
                <div class="col-3">
                    Order number
                </div>
                <div class="col-2">
                    <!-- Estimate -->
                </div>
                <div class="col-3">
                    <!-- Start -->
                </div>
                <div class="col-3">
                    <!-- Finish -->
                </div>

            </div>
        </div>

        <!-- body -->
        <div class="col-8 table-item shadow cursor-pointer" *ngFor="let ord of orders; let i = index" (click)="goToOrder(i, $event.target.id)">
            <div class="row no-gutters" style="min-height: 100%;">
                <div class="col-1 status-colour" 
                [ngClass]="{
                    'status-waiting': ord.status == 'awaiting', 
                    'status-preparing': ord.status == 'preparing', 
                    'status-completed': ord.status == 'completed', 
                    'status-cancelled': ord.status == 'canceled' 
                }">

                </div>
                <div class="col-8 d-flex align-items-center" style="padding-left: .75rem;">
                    {{ ord.orderNumber }}
                </div>
                <div class="col-3">
                    <button class="btn btn-info float-right" style="margin: 0; margin-right: 1.25rem;" id="action" *ngIf="ord.status == 'completed' && this.auth.customer" (click)="goToReview(i)">Leave Review</button>
                </div>
            </div>
        </div>
    </div>
</div>