<!-- <div class="container-fluid">
    <div class="row">
    
        <div class="col-12 d-flex justify-content-center">
            <h1>Welcome to</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <h4>Reviews page</h4>
        </div>

        <div style="padding: 3rem 0;"></div>

        <div class="col-12 d-flex justify-content-center">
            <h2>Navigate to</h2>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button [routerLink]="['/']" style="margin: 0 .75rem;">Main page/Home</button>
            <button [routerLink]="['/reviews/single']" style="margin: 0 .75rem;">Review page</button>
        </div>

    </div>
</div> -->

<div class="container-fluid">
    <div class="row no-gutters d-flex justify-content-center">
        <div class="col-8 form-input shadow">
            <div class="section-label mt-4 d-flex justify-content-center">
                Reviews
            </div>
            <div class="separator">
                <hr> 
            </div>
            <div class="row review-section" *ngFor="let rev of reviews; let i=index;">
                <div class="col">
                  {{rev.comment}}
                </div>
                <div class="col col-lg-2">
                  {{"⭐️".repeat(rev.rating) + "☆".repeat(5 - rev.rating)}}
                </div>
                <div class="col col-lg-2">
                    <a *ngIf="rev.deliveryId" [routerLink]="['/deliveries/single']"
                      (click)="goToDelivery(rev.deliveryId)">Delivery</a>
                    <a *ngIf="rev.reservationId" [routerLink]="['/reservations/single']"
                      (click)="goToReservation(rev.reservationId)">Reservation</a>
                  </div>
            </div>
        </div>
    </div>
</div>
