nav {
    height: 4.5rem;
}
.content-inside {

    width: 100vw;
    height: calc(100vh - 4.5rem);

    margin-top: 4.5rem;
}
.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
}
.navbar-nav, .nav-item.active {
    color: white;
    a {
        color: #fff;
        &:hover {
            color: #aaa;
        }
        &:active {
            color: black;
        }
    }
}
.navbar-nav, .nav-item.active {
    color: white;
    .nav-link-logout {
        color: #fff;
        &:hover {
            color: red;
        }
        &:active {
            color: black;
        }
    }
}