<div class="container-flui">
  <div class="row justify-content-center" >
    <div class="btn btn-success " [routerLink]="['/add-dish']">Add New Dish </div>
    <div class="btn btn-success ml-4" [routerLink]="['/popular-dish']">Most Popular Dishes </div>
  </div>
  <div class="row justify-content-center" *ngFor="let d of dishes; let i=index;">
    <div class="media" >
      <img class="align-self-left" src="https://moms-spaghetti.herokuapp.com/api/v1/dishes/{{ d.id }}/image" alt="Generic placeholder image" style="width: 10rem;">
      <div class="media-body">
        <h5 class="mt-0 title">{{d.name}}</h5>
        <div class="col-12 description">{{d.description}}</div>
        <div class="col-12 price">Price: {{d.price}}$
          <a [routerLink]="['/view-dish']" [queryParams]="{ dish_id: d.id }" class="view">View more</a>
        </div>
      </div>
      <div class="align-self-center">
        <button class="btn btn-info btn-sm" [routerLink]="['/edit-dish']" (click)="editDish(d.id)"> Update</button>
        <button class="btn btn-danger btn-sm" (click)="deleteDish(i)">Delete</button>
      </div>
    </div>
  </div>
</div>
